{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^src/app/(.*)$",
    "^src/features/(.*)$",
    "^src/widgets/(.*)$",
    "^src/shared/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
